<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse String</title>
</head>
<body>
<h1>gnirtS esreveR</h1>

<label class="input-label" for="inputText">Input:</label>
<textarea id="inputText" placeholder="Escribe aquí el texto"></textarea>

<div class="result-container">
    <label for="result">Result:</label>
    <p id="result"></p>
</div>

<div>
    <button id="copyBtn" class="btn btn-copy" style="display: none;">
        Copy 📋
    </button>
</div>

<script src="script.js"></script>
</body>
</html>
